#text {
  font-family: 'Podkova', serif;
}

.small-box p {
  /*display: inline-block;*/
  position: absolute;
  bottom: 0;
  font-family: 'Podkova', serif;
  color: #fff;
}

body {
  background-color: pink;
}

hr {
  height: 3px;
  width: 70px;
  background-color: black;
  margin-right: 100%;
  border: none;
}

img {
  width: 250px;
  height: 200px;
}

.small-box {
  margin: 40px 50px;
  float: left;
  position: relative;
}
